<p id="error"><%= @errors if @errors %></p>



<form action="/form" method="post">
<input type = "text" placeholder="Paste a valid link only!" name="long_url">
<input type = "submit" value="Submit">
</form>
<p></p>

<div class="table">
<table width="600">
  <tr>
    <th>Long URL</th>
    <th>Short URL</th>
    <th>Click Count</th>
  </tr>
  <% Url.all.each do |url|%>
    <tr>
      <td><%= url.long_url%></td>
      <td><a href="<%=url.short_url%>"><%= url.short_url%></a></td>
      <td><%= url.click_count%></td>
    </tr>
  <% end %>
</table>
</div>

<p id="footer">&copy Lucas Looi Limited </p>